<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api</title>

    <Style>
        body{
            background-color: rgb(19, 18, 18);
        }
        h1{
            color: brown;
        }
        div{
            align-items: center;
            text-align: center;
        }
    </Style>
</head>
<body>
    <h1></h1>
    <div>
        <h1>Nº LEDS</h1>
        <h1 id="leds"></h1>
    </div>
    <div>
        <h1>Brillo</h1>
        <h1 id="iluminacion"></h1></div>
    <div>
        <H1>PROGRAMA</H1>
        <h1 id="programa"></h1></div>
    <div>
        <h1>COLOR</h1>
        <H1 id="color"></H1>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    setInterval(function() {
        $.getJSON('/datos', function(datos) {
            $('#leds').text(JSON.stringify(datos.leds).replace(/\"/g, ""));
            $('#iluminacion').text(JSON.stringify(datos.ilu).replace(/\"/g, ""));
            $('#programa').text(JSON.stringify(datos.pro).replace(/\"/g, ""));
            $('#color').text(JSON.stringify(datos.color).replace(/\"/g, ""));
        });
    }, 1000); // Actualizar cada 1 segundos
});
</script>

</html>
